.item {
  position: absolute;

  width: 198px;
  min-height: 203px;

  cursor: pointer;

  &[id='paper'] {
    top: 0;
    left: 0;
  }

  &[id='scissors'] {
    top: 0;
    right: 0;
  }

  &[id='rock'] {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    &::before {
      content: url('../../assets/small-shadow.svg');
      position: absolute;
      top: -11.5%;
      left: -11.5%;

      width: 252px;
      height: 248px;

      z-index: -1;
    }
  }
}
