.items {
  position: relative;

  display: grid;
  place-items: center;

  max-width: 476px;
  min-height: 430px;

  margin-inline: auto;

  &[data-animation~='fadeOut'] {
    animation: fadeOut 1s forwards;
  }

  &[data-animation~='fadeIn'] {
    animation: fadeIn 0.5s forwards;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
