@use '../../utils/styles/animations.scss';

.items {
  position: relative;

  display: grid;
  place-items: center;

  max-width: 476px;
  min-height: 430px;

  margin-inline: auto;

  &[data-animation~='fadeOut'] {
    animation: fadeOut 1s forwards;
  }

  &[data-animation~='longFadeIn'] {
    animation: longFadeIn 0.5s forwards;
  }
}
