:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-dark-text: hsl(229, 25%, 31%);
  --clr-score-text: hsl(229, 64%, 46%);
  --clr-score-counter: hsl(246, 11%, 37%);
  --clr-header-outline: hsl(217, 16%, 45%);

  --clr-score-gradient: linear-gradient(
    hsl(0, 0%, 95%),
    hsl(0, 0%, 100%)
  );

  --clr-background-gradient: linear-gradient(
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  
  --clr-scissors-gradient: linear-gradient(
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
  --clr-paper-gradient: linear-gradient(
    hsl(230, 89%, 62%), 
    hsl(230, 89%, 65%)
  );
  --clr-rock-gradient: linear-gradient(
    hsl(349, 71%, 52%), 
    hsl(349, 70%, 56%)
  );
  --clr-lizard-gradient: linear-gradient(
    hsl(261, 73%, 60%),
    hsl(261, 72%, 63%)
  );
  --clr-cyan-gradient: linear-gradient(
    hsl(189, 59%, 53%), 
    hsl(189, 58%, 57%)
  );
}
