@use '../../utils/styles/animations.scss';

.gameField {
  max-width: 700px;

  display: flex;
  justify-content: space-between;
  pointer-events: none;

  margin-inline: auto;

  &[data-animation~='fadeIn'] {
    animation: fadeIn 2s forwards;
  }
}
