.gameField {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  pointer-events: none;

  margin-inline: auto;

  opacity: 0;

  &[class~='hidden'] {
    max-width: 938px;
    transition: all 1s 1s ease;
  }

  &[class~='visible'] {
    opacity: 1;
    transition: all 1s 1s ease;
  }

  &[class~='active'] {
    max-width: 700px;
  }

  &[class~='finished'] {
    max-width: 938px;
  }
}
