@use '../../utils/styles/animations.scss';

.triangle {
  --animation-properties: 2000ms linear infinite normal forwards;

  max-width: 302px;
}

.topSegment {
  animation: slideToRight var(--animation-properties);
}

.rightSegment {
  animation: slideToLeftDown var(--animation-properties);
}

.leftSegment {
  animation: slideToLeftTop var(--animation-properties);
}
