.result {
  display: grid;
  row-gap: 16px;

  max-width: max-content;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  text-align: center;

  color: var(--clr-white);

  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.button {
  padding-inline: 61px;
  padding-block: 14.5px;

  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.5px;

  color: #3b4262;
}
